body {
  width: 640px;
  font: 100% sans-serif;
  margin-top: 32px;
  padding-top: 0;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
}

video {
  width: 100%;
  box-shadow: 0 0 25px #000;
  transition: all 0.5s ease-in;
}

#controls {
}

#controls > button { 
  border: 0;
  width: 32px;
  height: 32px;
  background-color: transparent;
}

#controls > button:hover { 
  background-color: #f0f0f0;
}

#seek {
  width: 500px;
}

@font-face {
  font-family: SecondScreenSymbol;
  src: url("icon.woff");
}

#show, .show-icon {
  font-family: SecondScreenSymbol;
  font-size: 120%;
}

#show {
  float: right;
}

#show[disabled] {
  opacity: 0.5;
}

footer {
  font-size: 75%;
  text-shadow: #fff 0 1px 0;
  bottom: 0;
  left: 0;
  position: fixed;
  color: gray;
}

#overlay {
  position: fixed;
  top: 32px;
  padding: 16px;
  font-size: 800%;
  font-family: SecondScreenSymbol;
  animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate; 
  -webkit-animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate; 
}

@keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}